body {
    background-color: #f148c9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font: normal 18pt arial;
    margin: 0;
    background-image: url();

}

.comeco {
    background-image: url(banne.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;

}
h1 {
    color: rgb(0, 0, 0);
/* margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px; */
    margin: 50px 40px;
    text-align: center;
} 
.titulosapeca{
    color: #000000;
    margin: 0% 40% 20% 40%;
    text-align: center;
}
p {
    color: white;
    text-indent: 50px;
    font-size: 25px;
    align-items: center;
    text-align: center;
} 
.menu {
    color: rgb#000000;
    background-color: rgb(255, 255, 255);   
    list-style: none; /*Deixa a lista sem marcação*/
    text-align: center;
    text-transform: pathway gothic one;
    font-size: 21px;
    font-weight: bold;
    margin-top: 0;
}
.menu li {
    display: inline-block;
    margin: 30px 60px;
    font-size: 60px;
}
.menu a {
    text-transform: none;
    color: #ff00c3;
}
.menu a:hover {
    color: black;
}
.secoes {
    color: rgb(0, 0, 0);
    text-align: center;
}
footer{
    text-align: center;
    font-size: 80px;
    align-content: center;
    height: 300px;
    background-color:#f148c9;
    padding-right: 20px;
}
.texto{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 64px;
}
.texto-lista{
    font-size: 1.15rem !important;
    line-height: 1.4rem !important;
    color: #000000;
    margin-right: auto !important;
    margin-left: auto !important;
}
.str{
    margin: 0 20%;
    min-height: 400px;
}
@media (max-width: 1000px) {
    .inicio{
        margin: 0 20px;    
    }
}

.container {
    background-color: #ff00c3;
    border-radius: 55px;
    padding: 0px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: inline-block;
    margin-bottom: 3%;

}

button {
    margin-top: 20px;
    margin-left: 28%;
    margin-bottom: 3%;
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}

.hearts {
    width: 150px;
    margin: 20px auto;
}

.mensagem {
    margin-top: 20px;
    font-size: 1.8em;
    color: #fffb00;
    display: none;
}

.fundosapeca{
    background-image: url(./img/textura-de-fundo-aquarela-rosa_199112-119.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.textoa{
    margin-left: 10%; 
    margin-right: 10%;

}
 h2{
    font-size: 50px;
 }